fieldset {
    /* Centralização do form na página */
    margin: 2em auto;
    width: 400px;
    /* Bordas do formulário */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}

/* Espaçamento entre as div contidas dentro do fieldset */
fieldset div + div {
    margin-top: 1em;
}

fieldset {
    border: 1px #ccc solid;
    border-radius: 1em;
}

/* Padronização das labels, tamanho e alinhamento */
label {
    display: inline-block;
    width: 90px;
    text-align: left;
}

input,
textarea {
    font-family: 1em sans-serif;
    /* Padronização tamanho dos campos text*/
    width: 390px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
    border-radius: 1em;
}

input:focus,
textarea:focus {
    /* Dar destaque para os elementos ativos */
    border-color: #000;
}

textarea {
    /* Alinhar campo de texto de várais linhas com o label */
    vertical-align: top;
    /* Altura do textarea */
    height: 5em;
    /* Permite usuário ajustar o tamanho do textarea verticalmente */
    resize: vertical;
}

button {
    margin-left: 0.5em;
}
